<h2>Edit Your Swimmer:</h2>

<form method="post" action="/swimmers/<%=@swimmer.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="notes" value="<%= @swimmer.notes %>">
  <input type="submit" value="Submit">
</form>
