<h1>Welcome, <%=current_instructor.username%></h1>
<h2>Here are your list of swimmers:</h2>

  <%current_instructor.swimmers.each do |swimmer|%>
    <div>
      <h3>  <%= swimmer.name %> <%= swimmer.age %> </h3>
        <%= swimmer.notes %>
    </div>
  <% end %>

<br></br>
<h4> Enter a new swimmer <a href="/swimmers/new">here!</a> </h4>
<h4> Edit a current swimmer <a href="/swimmers/edit">here!</a> </h4>
