<h1>Create a new Swimmer:</h1>

<form action="/swimmers" method="post">
  <br></br>
      <input id="name" type="text" placeholder="Name" />
    <br></br>
      <input id="age" type="text" placeholder="Age" />
    <br></br>
      <textarea id="notes" type="text" placeholder="Enter your notes.">
      </textarea>
  <input type="submit"/>
</form>
