<h1>Create a new Swimmer</h1>

<form action="/swimmers" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="swimmer[name]" id="swimmer_name">

  <br></br>

  <%Instructor.all.each do |instructor|%>
    <input type="checkbox" name="swimmer[instructor_id]" id="<%= instructor.username %>" value="<%=instructor.id%>"><%=instructor.username%></input>
  <%end%>

  <br></br>
    <label>name:</label>
      <input  type="text" name="instructor[usernam]" id="instructor_username"></input>
    <br></br>

  <input type="submit" value="Create Swimmer">
</form>
